@font-face {
    font-family: 'Phatt';
    src: url('/SAT5/fonts/Phatt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PhattOutline';
    src: url('/SAT5/fonts/PhattOutline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    max-width: 1920px;
    max-height: 1080px;
    font-weight: 400;
}
#main {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-image: url("startingsoon.png");
    background-size: contain;
    font-family: Phatt;
    color:white;
    overflow: hidden;
    font-optical-sizing: auto;
}


#timer {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Phatt', Arial, sans-serif;
    font-size: 6rem;
    color: #f6e49f;
    text-shadow: 0 0 32px #f6e49f88;
    border-radius: 12px;
    transition: color 0.2s;
}
#timerO {
    position: absolute;
    top: 164px;
    left: 49.5%;
    transform: translateX(-49%);
    font-family: 'PhattOutline', Arial, sans-serif;
    font-size: 6rem;
    color: #f6e49f;
    text-shadow: 0 0 32px #f6e49f44;
    border-radius: 12px;
    transition: color 0.2s;
}


#song {
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings:"lnum" 1; 
    -moz-font-feature-settings:"lnum=1"; 
    -ms-font-feature-settings:"lnum" 1; 
    -o-font-feature-settings:"lnum" 1; 
    -webkit-font-feature-settings:"lnum" 1; 
    font-feature-settings:"lnum" 1;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 2rem;
    color: #f6e49f;
    text-shadow: 0 0 32px #f6e49f88;
    border-radius: 12px;
    transition: color 0.2s;
    text-align: center;
    width: 90%;
}